<h1>Projetos</h1>

<div>
  <div class="row">
    <div class="col col-sm-2 p-2 bg-light border">
      <strong>Nome</strong>
    </div>
    <div class="col col-sm-1 col p-2 bg-light border">
      <strong>Numero</strong>
    </div>
    <div class="col col-sm-1 col p-2 bg-light border">
      <strong>Data</strong>
    </div>
    <div class="col col-sm-2 col p-2 bg-light border">
      <strong>Status</strong>
    </div>
    <div class="col col-sm-1 col p-2 bg-light border">
      <strong>Área</strong>
    </div>
    <div class="col col-sm-2 col p-2 bg-light border">
      <strong>Departamento</strong>
    </div>
    <div class="col col-sm-1 col p-2 bg-light border">
      <strong>Editar</strong>
    </div>
    <div class="col col-sm-1 col p-2 bg-light border">
      <strong>Deletar</strong>
    </div>
    <div class="col col-sm-1 col p-2 bg-light border">
      <strong>Visualizar</strong>
    </div>
  </div>
</div>

<div>
  <div class="row">
  	<% @projeto.each do |projeto| %>
	    <div class="col col-sm-2 p-2 bg-light border">
	      <%= projeto.nome %>
	    </div>
	    <div class="col col-sm-1 col p-2 bg-light border">
	      <td><%= projeto.numero %></td>
	    </div>
	    <div class="col col-sm-1 col p-2 bg-light border">
	      <td><%= projeto.data.strftime("%d/%m/%Y") %></td>
	    </div>
      <div class="col col-sm-2 col p-2 bg-light border">
        <td><%= projeto.status %></td>
      </div>
      <div class="col col-sm-1 col p-2 bg-light border">
        <td><%= projeto.area %></td>
      </div>
      <div class="col col-sm-2 col p-2 bg-light border">
        <td><%= projeto.departamento %></td>
      </div>
	    <div class="col col-sm-1 col p-2 bg-light border">
        <%= link_to image_tag("edit.jpg", height: 25), edit_projeto_path(projeto), class: "nav-link" %>
	    </div>
	    <div class="col col-sm-1 col p-2 bg-light border">
        <%= link_to image_tag("delete.png", height: 25), destroy_projeto_path(projeto), :method => :delete %>
	    </div>
	    <div class="col col-sm-1 col p-2 bg-light border">
	    	<%= link_to image_tag("view.png", height: 25), show_projeto_path(projeto), class: "nav-link" %>
	    </div>
    <% end %>
  </div>
</div>
