<div>
    <h3>Projeto</h3>
    <strong>Nome:</strong>
    <%= @projeto.nome %>
    <br>
    <strong>Numero:</strong>
    <%= @projeto.numero %>
    <br>
    <strong>Responsável pelo projeto:</strong>
    <%= @projeto.usuario.nome %>
    <br>
    <strong>Data projeto:</strong>
    <%= @projeto.data.strftime("%d/%m/%Y") %>
    <br>
    <strong>Data início:</strong>
    <%= @projeto.dataInicio == nil ? '' : @projeto.dataInicio.strftime("%d/%m/%Y") %>
    <br>
    <strong>Data fim:</strong>
    <%= @projeto.dataFim == nil ? '' : @projeto.dataFim.strftime("%d/%m/%Y") %>
    <br>
    <strong>Status:</strong>
    <%= @projeto.status %>
    <br>
    <strong>Área:</strong>
    <%= @projeto.area %>
    <br>
    <strong>Departamento:</strong>
    <%= @projeto.departamento %>
    <br>
    <strong>Área temática:</strong>
    <%= @projeto.areaTematica %>
    <br>
    <strong>Objetivo:</strong>
    <%= @projeto.objetivo %>
    <br>
    <strong>Avaliação comitê:</strong>
    <%= @projeto.avaliacaoComite %>
    <br>
    <strong>Avaliação depex:</strong>
    <%= @projeto.avaliacaoDepex %>
    <br>
    <strong>Avaliação geral:</strong>
    <%= @projeto.avaliacaoGeral %>
    <br>
  <div>
    <h3>Usuários relacionados</h3>
    <% @usuarioprojeto.each do |usuarioprojeto| %>
      <% if usuarioprojeto.projeto.id = @projeto.id %>
          <strong>Tipo usuario:</strong>
          <%= usuarioprojeto.tipoUsuario %>
          <br>
          <strong>Usuario:</strong>
          <%= usuarioprojeto.usuario.nome %>
      <% end %>    
    <% end %>
  </div>
  <div>
    <h3>Eventos do projeto</h3>
    <% @eventos.each do |evento| %>
      <% if evento.projeto.id = @projeto.id %>
        <strong>Título</strong>
        <%= evento.titulo %>
        <br>
        <strong>Descrição</strong>
        <%= evento.descricao %>
        <br>
        <strong>Data do evento</strong>
        <%= evento.data == nil ? '' : evento.data.strftime("%d/%m/%Y") %>
        <br>
      <% end %>
    <% end %>
  </div>
</div>
