<div>
  <p>
    <strong>Nome:</strong>
    <%= @projeto.nome %>
  </p>
  <p>
    <strong>Numero:</strong>
    <%= @projeto.numero %>
  </p>
  <p>
    <strong>Responsável pelo projeto:</strong>
    <%= @projeto.usuario.nome %>
  </p>
  <p>
    <strong>Data projeto:</strong>
    <%= @projeto.data.strftime("%d/%m/%Y") %>
  </p>
  <p>
    <strong>Data início:</strong>
    <%= @projeto.dataInicio == nil ? '' : @projeto.dataInicio.strftime("%d/%m/%Y") %>
  </p>
  <p>
    <strong>Data fim:</strong>
    <%= @projeto.dataFim == nil ? '' : @projeto.dataFim.strftime("%d/%m/%Y") %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= @projeto.status %>
  </p>
  <p>
    <strong>Área:</strong>
    <%= @projeto.area %>
  </p>
  <p>
    <strong>Departamento:</strong>
    <%= @projeto.departamento %>
  </p>
  <p>
    <strong>Área temática:</strong>
    <%= @projeto.areaTematica %>
  </p>
  <p>
    <strong>Objetivo:</strong>
    <%= @projeto.objetivo %>
  </p>
  <p>
    <strong>Avaliação comitê:</strong>
    <%= @projeto.avaliacaoComite %>
  </p>
  <p>
    <strong>Avaliação depex:</strong>
    <%= @projeto.avaliacaoDepex %>
  </p>
  <p>
    <strong>Avaliação geral:</strong>
    <%= @projeto.avaliacaoGeral %>
  </p>
  <div>
    <% @usuarioprojeto.each do |usuarioprojeto| %>
      <% if usuarioprojeto.projeto.id = @projeto.id %>
        <p>
          <strong>Tipo usuario:</strong>
          <%= usuarioprojeto.tipoUsuario %>
        </p>
        <p>
          <strong>Usuario:</strong>
          <%= usuarioprojeto.usuario.nome %>
        </p>
      <% end %>    
    <% end %>
  </div>
</div>
