<div>
  <p>
    <strong>Nome:</strong>
    <%= @projeto.nome %>
  </p>
  <p>
    <strong>Numero:</strong>
    <%= @projeto.numero %>
  </p>
  <p>
    <strong>Data projeto:</strong>
    <%= @projeto.data %>
  </p>
  <p>
    <strong>Data início:</strong>
    <%= @projeto.dataInicio %>
  </p>
  <p>
    <strong>Data fim:</strong>
    <%= @projeto.dataFim %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= @projeto.status %>
  </p>
  <p>
    <strong>Área:</strong>
    <%= @projeto.area %>
  </p>
  <p>
    <strong>Departamento:</strong>
    <%= @projeto.departamento %>
  </p>
  <p>
    <strong>Avaliação comitê:</strong>
    <%= @projeto.avaliacaoComite %>
  </p>
  <p>
    <strong>Avaliação depex:</strong>
    <%= @projeto.avaliacaoDepex %>
  </p>
  <p>
    <strong>Avaliação geral:</strong>
    <%= @projeto.avaliacaoGeral %>
  </p>
</div>
