<h1>Criação de Usuários</h1>
<% if @usuario.errors.any? %>
	<div class="alert alert-danger">
		<%= @usuario.errors.full_messages.each do |message| %>
			<div><%= message%></div>
		<% end %>
	</div>
<% end%>
<%= form_with model: @usuario, url: novoUsuario_path do |form| %>
<div class="mb-3">
	<%= form.label "Nome" %>
	<%= form.text_field :nome, :required => true, class: "form-control", placeholder:"Digite seu nome" %>
</div>
<div class="mb-3">
	<%= form.label "Login" %>
	<%= form.text_field :login, :required => true, class: "form-control", placeholder:"Digite seu login" %>
</div>
<div class="mb-3">
	<%= form.label "Senha" %>
	<%= form.password_field :senha, :required => true, class: "form-control" , placeholder:"Digite sua senha"%>
</div>	
<div class="mb-3">
	<%= form.label "E-mail" %>
	<%= form.text_field :email, :required => true, class: "form-control" , placeholder:"Digite seu e-mail" %>
</div>
<div class="mb-3">
	<%= form.label "Tipo de usuário" %>
</div>
<div>
	<%= form.select :tipoUsuario, ["","Administrador", "Aluno", "Professor"], class: "form-control" %>
</div>	
<div class="mb-3">
	<%= form.label "Telefone" %>
	<%= form.telephone_field :fone, class: "form-control" , placeholder:"Digite seu telefone"%>
</div>	
<div class="mb-3">
	<%= form.submit "Criar usuário", class:"btn btn-primary" %>
</div>
<% end %>

