<div>
  <p>
    <strong>Nome:</strong>
    <%= @usuario.nome %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @usuario.email %>
  </p>
  <p>
    <strong>Login:</strong>
    <%= @usuario.login %>
  </p>
  <p>
    <strong>Tipousuario:</strong>
    <%= @usuario.tipoUsuario %>
  </p>
  <p>
    <strong>Fone:</strong>
    <%= @usuario.fone %>
  </p>
  <p>
    <strong>Departamento:</strong>
    <%= @usuario.departamento %>
  </p>
  <p>
    <strong>Chefe do departamento:</strong>
    <%= @usuario.chefeDepartamento %>
  </p>

</div>
