<h1>Editar eventos</h1>

<%= form_for @evento, url: update_evento_path do |form| %>
<div class="mb-3">
	<%= form.label "Título" %>
	<%= form.text_field :titulo, class: "form-control", placeholder:"Título do evento" %>
</div>
<div class="mb-3">
	<%= form.label "Descrição" %>
	<%= form.text_field :descricao, :required => true, class: "form-text", placeholder:"Descrição do evento" %>
</div>
<div class="mb-3">
	<%= form.label "Data do evento" %>
	<%= form.text_field :data, ({"data-provide" => 'datepicker', "data-date-format" => "dd/mm/yyyy", class: "form-date",placeholder: "DD/MM/YYYY"}) %>
</div>
<div class="mb-3">
	<%= form.label "Projeto"%>
	<%= form.collection_select(:projeto_id, @projetos, :id, :nome, {include_blank: true}, class: "form-select") %>
</div>
<div class="mb-3">
	<%= form.label "Link" %>
	<%= form.text_field :link, class: "form-control", placeholder:"Link" %>
</div>
<div class="mb-3">
	<%= form.label "Imagem" %>
	<%= form.file_field :image, class: "form-control", placeholder:"Inserir imagem do evento" %>
</div>
<div class="mb-3">
	<%= form.submit "Salvar", class:"btn btn-primary" %>
</div>
<% end %>
