<div>
  <p>
    <strong>Título:</strong>
    <%= @evento.titulo %>
  </p>
  <p>
    <strong>Descrição:</strong>
    <%= @evento.descricao %>
  </p>
  <p>
    <strong>Data:</strong>
    <%= @evento.data.strftime("%d/%m/%Y") %>
  </p>
  <p>
    <strong>Evento do projeto:</strong>
    <%= @evento.projeto.nome %>
  </p>
  <p>
    <strong>Link:</strong>
    <%= @evento.link %>
  </p>
  <p>
    <strong>Imagem:</strong>
    <%= image_tag @evento.image %>
  </p>
</div>
